<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Piedras Mendoza</title>
</head>
<body>
    <header>
        <div class="nav-container">
            <nav class="nav-menu">
                <ul class="ul-menu">
                    <li class="li-menu"><a class="a-menu" href="#">Inicio</a></li>
                    <li class="li-menu"><a class="a-menu" href="#">Nosotros</a></li>
                    <li class="li-menu"><a class="a-menu" href="#">Contacto</a></li>
                </ul>
            </nav>
            <img src="" alt="Logo piedras mendoza">
            <nav class="nav-container">
                    <li class="li-menu">
                        <a href="" class="a-menu">Face</a>
                    </li>
                    <li class="li-menu">
                        <a href="" class="a-menu">Insta</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <h2>Pueba</h2>
    <footer>
        <h3>foote</h3>
    </footer>
</body>
</html>