<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Piedras Mendoza</title>
</head>
<body>
    <header>
        <div class="nav-container">
            <nav class="nav-menu">
                <ul class="ul-menu">
                    <li class="li-menu"><a class="a-menu" href="#">Inicio</a></li>
                    <li class="li-menu"><a class="a-menu" href="#">Nosotros</a></li>
                    <li class="li-menu"><a class="a-menu" href="#">Contacto</a></li>
                </ul>
            </nav>
            <img src="" alt="Logo piedras mendoza">
            <nav class="nav-container-redes">
                    <li class="li-menu">
                        <a href="" class="a-menu">Face</a>
                    </li>
                    <li class="li-menu">
                        <a href="" class="a-menu">Insta</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="section-home-main">
        <div class="section-home">
    <h1>Piedras <br> <b>Mendoza</b></h1>
    <p>Somos una empresa dedicada a la venta de Piedras <br> Decorativas para interior y exterior.</p>
    <a href="/nosotros">Nuestros Servicios</a>
        </div>
    </section>

    <footer class="main-footer">
        <div class="div-footer">
            <p>Copyight @2022 Piedrasmendoza.com </p>
            <nav class="nav-container-redes">
                <li class="li-menu">
                    <a href="" class="a-menu">Face</a>
                </li>
                <li class="li-menu">
                    <a href="" class="a-menu">Insta</a>
                </li>
            </ul>
        </nav>
        </div>
    </footer>
</body>
</html>